<!-- About Section -->
<hr class="star-light" />
<section class="success" id="about" style="padding-bottom: 50px;">
  <div class="container">
    <div class="flex-center">
      <!-- Image Block (Responsive) -->
     <div class="col-lg-4 about-image-block" style="
        width: 100%;
        max-width: 300px;
        margin: 0 auto 0px auto;
        padding: 0;
        align-content: center;
      ">
        <img src="sax.png" alt="Saxophone" style="width: 100%; height: auto; display: block;">
      </div>
      
      <!-- Text Block (Responsive) -->
      <div class="row about-text-block" style="
        width: 100%;
        max-width: 610px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        box-sizing: border-box;
        align-content: center;
      ">
        <h2 class="title" style="font-size: 24px; text-transform: uppercase;">About</h2>
        <p style="line-height: 1.6; font-size: 13px;">
          Noah Sparkes is a UK-based composer specialising in music for film and TV. Working from his home studio, Noah has worked across a wide variety of genres from classical to jazz to hip-hop to experimental.<br><br>
          As well as producing for artists from an array of genres, Noah also writes sync music for agencies like MediaTracks.<br><br>
          Noah is also the recipient of the Gold Prize for Original Composition at the 2025 Saint-Saëns International Music Competition and was shortlisted for the Composer Spotlight Award at The Production Music Awards 2025.
        </p>        
      </div>
    </div>
  </div>
</section>
