<!-- About Section -->
<hr class="star-light" />
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2" style="
        width: 280px;
        padding-right: 45px;
        margin-left: 140px;
      ">
        <img src="sax.png" alt="Saxophone" width="250" height="250">
      </div>
    <div class="row">
      <div class="col-lg-4" style="
          width: 610px;
          padding-left: 45px;
          padding-top: 23px;
      ">
        <h2 class="title" style=
              font-size: 24px;
                <h2>ABOUT</h2>
        <p>Noah Sparkes is a UK-based producer and composer specialising in music for film and TV. Working from his home studio, Noah has worked across a wide variety of genres from classical to jazz to hip-hop to experimental.<br>
          As well as producing for artists from an array of genres, Noah also writes sync music for agencies like MediaTracks.</p>
       </div>
     </div>
    </div>
  </div>
</section>
