<!-- Footer -->
<footer class="text-left">
  <div class="footer-below">
     <div class="container">
    <div class="flex-center">
      <div class="col-lg-4 col-lg-offset-2" style="
      margin-left: 0px;
      padding-left: 0px;
      width: 250px;
      padding-right: 0px;
      margin-right: 30px;
      ">
<p>noahsparkes015@gmail.com</p>
      </div>
    <div class="row">
      <div class="col-lg-4" style="
          width: 610px;
          padding-left: 45px;
          padding-top: 23px;
      ">
        <p>© Noah Sparkes 2025</p>
       </div>
     </div>
    </div>
  </div>
</section>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
