<!-- Footer -->
<footer class="">
  <div class="footer-below">
     <div class="container-center" style="
    margin-left: 7%;
    margin-right: 7%;
">
    <div class="flex-center" style="
    height: 30px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    ">
      <div style="
      margin-left: 0px;
      padding-left: 0px;
      width: 100%;
      padding-right: 0px;
      margin-right: 0;
      ">
    <p style="
    width: 100%;
    margin-bottom: 0px;
">noahsparkes015@gmail.com</p>
      </div>
    <div class="col-lg-4 text-right" style="
    width: 100%;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    width: 100%;
    ">
        <p style="
    text: right
    width: 200px;
    margin-bottom: 0px;
">© Noah Sparkes 2025</p>
       </div>
    </div>
  </div>
</section>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
