<!DOCTYPE html>
<html><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>NOAH SPARKES</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">
  <meta name="keywords" content="your keywords, separated by commas">
  
  <meta name="author" content="Noah Sparkes">
  <link rel="canonical" href="https://github.com/jeromelachaud/freelancer-theme/">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="feed.xml">

  <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link rel="stylesheet" href=" /style.css">

  <!-- Google verification -->
  

  <!-- Bing Verification -->
  

  <!-- Custom Fonts -->
  <link href="https://fonts.cdnfonts.com/css/quicksand" rel="stylesheet">
  </head><body id="page-top" class="index" data-new-gr-c-s-check-loaded="14.1241.0" data-gr-ext-installed=""><font-family: 'quicksand',="" sans-serif;="" <font-family:="" 'quicksand="" book="" oblique',="" book',="" dash',="" light="" light',="" bold="" bold',="" <!--="" html5="" shim="" and="" respond.js="" ie8="" support="" of="" elements="" media="" queries="" --="">
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->




<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index">{{ site.title }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="page">
          <a href="/index">Film Score</a>
        </li>
        <li class="page-scroll">
          <a href="#page-top">Production</a>
        </li>
        <li class="page">
          <a href="#contact">Sync Licensing</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

  <!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
         <span class="name" style="
              padding-bottom: 10px;
                ">NOAH SPARKES</span>
          <span class="skills">PRODUCER - COMPOSER - MUSICIAN</span>          
          <hr class="star-light">
        </div>
      </div>
    </div>
  </div>
</header>

  <!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="row" style="
	    width: 100%;
	    margin: auto;
	">	    
      <div class="col-lg-12 text-center" style="
	      padding-bottom: 12px;
	      ">
        <h2>PRODUCTION</h2>
      </div>
<html>
	<head>
	    <div class="flex-center">
		<style>
			div.gallery {
				  margin: 15px;
				  border: 0px solid #ccc;
				  float: left;
				  width: 20%;
					}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
 <a href="https://open.spotify.com/album/1p1G2U3BIRQfws0R16iywi?si=8gQOBueHSgyzo-VxtQOcPw" target="_blank">
    <img src="/start a.png" alt="Treehouse">
  </a>
  <div class="desc">Treehouse - Flores Blue</div>
</div>

<div class="gallery">
	 <a href="https://open.spotify.com/album/2ACiIzy0IcboLUKmBy74K0?si=a1nBBG-hRHe44lfbXqwYzA" target="_blank">
    <img src="/sa.png" alt="Start Again">
  </a>
  <div class="desc">Start Again - Flores Blue</div>
</div>

<div class="gallery">
  <a href="https://open.spotify.com/album/2CcdqLcrMR2NHXyiiNyOOd?si=gHy6vHS2QNGCX4vra30kgw" target="_blank">
    <img src="/vegas.png" alt="Vegas">
  </a>
  <div class="desc">Vegas - Flores Blue</div>
</div>

    </div>
  </div>
</section>

  <!-- About Section -->
<hr class="star-light">
<section class="success" id="about" style="
        padding-bottom: 50px;
  ">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2" style="
        width: 280px;
        padding-right: 45px;
        margin-left: 140px;
      ">
        <img src="/sax.png" alt="Saxophone" width="250" height="250">
      </div>
    <div class="row">
      <div class="col-lg-4" style="
          width: 610px;
          padding-left: 45px;
          padding-top: 23px;
      ">
        <h2 class="title" style="font-size:" 24px;="" <h2="">ABOUT</h2>
        <p>Noah Sparkes is a UK-based producer and composer specialising in music for film and TV. Working from his home studio, Noah has worked across a wide variety of genres from classical to jazz to hip-hop to experimental.<br>
          As well as producing for artists from an array of genres, Noah also writes sync music for agencies like MediaTracks.</p>
       </div>
     </div>
    </div>
  </div>
</section>


  <!-- Footer -->
<footer class="text-left">
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12" style="
    width: 330px;
    padding-top: 25px;
    padding-bottom: 25px;
">
          noahsparkes015@gmail.com
        </div>
  <footer class="text-right">
  <div class="footer-below" style="height: 75px;">
    <div class="container" style="
    width: 530px;
    margin-right: 00px;
">
      <div class="row">
        <div class="col-lg-4" style="
    width: 530px;
">
          © Noah Sparkes 2025
        </div>
      </div>
    </div>
  </div>
</footer>


<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
</div></div></div></footer></font-family:></body><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration></html>
